@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

/* Color Theme Swatches in Hex */
:root {
  --main-color: #8C7561;
  --main-dark-color: #59402A;
  --main-light-color: #D9D0C7;
  --second-color: #D98977;
  --second-light-color: #F2F2F2;
}


/* NavBar*/
header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: var(--main-color);
  text-align: center;
  font-family: "Montserrat", sans-serif;
  z-index: 9999;

}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav li {
  display: inline-block;
  font-size: 1.3rem;
}

nav a {
  text-decoration: none;
  color: var(--second-light-color);
  display: block;
  padding: 0.5rem 1rem;
  border-radius: 10px;
}

nav a:hover {
  background-color: var(--main-dark-color);
  transition-duration: 0.3s;
}

nav a.active {
  background-color: var(--second-light-color);
  color: var(--main-color);
}

footer {
  background-color: var(--main-color);
  font-family: "Montserrat", sans-serif;
  padding: 1rem;
  /* position: fixed; */
  left: 0;
  bottom: 0;
  width: 100%;
}

footer nav li {
  display: flex;
}

body {
  background-color: var(--main-light-color);
  font-family: "Montserrat", sans-serif;
  padding-top: 3rem;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: default;
  font-size: 16px;
}

/* Main page */
.name-block {
  text-align: center;
  color: var(--main-dark-color);
  display: inline-block;
}

.links {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.links li {
  display: inline-block;
  font-size: 1.8rem;
}

.links a {
  text-decoration: none;
  display: block;
  padding: 0.5rem 1rem;
  font-size: 5rem;
  color: var(--second-color);
}

.links a:hover {
  color: var(--main-dark-color);
  transition-duration: 0.3s;
}

.card {
  width: 960px;
  background: var(--second-light-color);
  border-radius: 10px;
  border: 2px solid var(--second-color);
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px auto;
  padding: 1rem 3rem;
  align-items: center;
  transition-duration: 1s;
}

.card:hover {
  /* background: linear-gradient(to right, var(--second-color), var(--second-light-color)); */
  background: thistle;
  transition-duration: 2s;
}

.nav-item {
  align-self: flex-end;
  color: var(--second-color);
  font-size: 18px;
  margin: 15px;
  text-decoration: none;
}

.page-wrapper {
  align-items: center;
  flex-direction: column;
  display: flex;
  justify-content: center;
}

.profile-image {
  background-color: black;
  border: 3px solid var(--second-color);
  border-radius: 50%;
  color: white;
  font-size: 32px;
  height: 180px;
  margin: 50px;
  width: 180px;
  cursor: pointer;

}



*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}



.resume a {
  text-decoration: none;
  color: var(--second-light-color);
  display: block;
  transition-duration: 0.3s;
}

.resume p {
  padding: 0;
  color: var(--main-dark-color);
}

.resume ul {
  list-style-type: none;
  padding: 0;
  color: var(--main-dark-color);
}

.resume h3 {
  color: var(--second-color);
  margin: 10px 0;
  font-size: 1.25em;
}

.resume {
  width: 960px;
  background: var(--main-light-color);
  border-radius: 10px;
  margin: 20px auto;
  /* position: relative; */
  display: flex;
}

.resume .func {
  box-sizing: border-box;
  float: left;
}

.resume .func>div {
  padding-bottom: 10px;
}

.resume .func>div:last-of-type {
  padding-bottom: 0;
}


.resume .func {
  width: 100%;
}

.resume .func h3 {
  transition-duration: 0.3s;
  margin-top: 0;
}

.resume .func h3 i {
  color: var(--second-light-color);
  background: var(--second-color);
  width: 42px;
  height: 42px;
  font-size: 20px;
  line-height: 42px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  margin-right: 8px;
  transition-duration: 0.3s;
}

.resume .func .work,
.resume .func .edu {
  float: left;
  height: 22%
}

.resume .func .work small,
.resume .func .cities small,
.resume .func .edu small {
  display: block;
  opacity: 0.7;
}

.resume .func .work ul li,
.resume .func .cities ul li,
.resume .func .edu ul li {
  position: relative;
  margin-left: 15px;
  padding-left: 25px;
  padding-bottom: 15px;
}

.resume .func .work ul li:last-of-type,
.resume .func .cities ul li:last-of-type,
.resume .func .edu ul li:last-of-type {
  padding-bottom: 3px;
}

.resume .func .work ul li:last-of-type::after,
.resume .func .cities ul li:last-of-type::after,
.resume .func .edu ul li:last-of-type::after {
  border-radius: 1.5px;
}

.resume .func .work ul li::before,
.resume .func .work ul li::after,
.resume .func .cities ul li::before,
.resume .func .cities ul li::after,
.resume .func .edu ul li::before,
.resume .func .edu ul li::after {
  content: "";
  display: block;
  position: absolute;
}

.resume .func .work ul li::before,
.resume .func .cities ul li::before,
.resume .func .edu ul li::before {
  width: 10px;
  height: 10px;
  border: 3px solid var(--second-color);
  background: var(--second-light-color);
  border-radius: 50%;
  left: 1px;
  z-index: 1;
}

.resume .func .work ul li::after,
.resume .func .cities ul li::after,
.resume .func .edu ul li::after {
  width: 3px;
  height: 100%;
  background: var(--main-light-color);
  left: 5px;
  top: 0;
}

.resume .func .work ul li span,
.resume .func .cities ul li span,
.resume .func .edu ul li span {
  transition-duration: 0.3s;
}

.resume .func .work {
  width: 48%;
  background: var(--second-light-color);
  border-radius: 10px;
  border: 2px solid var(--second-color);
  padding: 15px;
  margin: 0 4% 15px 0;
}

.resume .func .edu {
  width: 48%;
  background: var(--second-light-color);
  border-radius: 10px;
  border: 2px solid var(--second-color);
  padding: 15px;
  margin: 0 0 15px;
}

.resume .func .about {
  clear: both;
  background: var(--second-light-color);
  border-radius: 10px;
  border: 2px solid var(--second-color);
  padding: 15px;
  margin: 0 0 15px 0;
}

.resume .func .cities {
  clear: both;
  background: var(--second-light-color);
  border-radius: 10px;
  border: 2px solid var(--second-color);
  padding: 15px;
}

.resume .func .cities-inside {
  display: flex;
  justify-content: space-around;
  padding-right: 20px;
  padding-bottom: 15px;
  align-items: top;
}

.resume .func .cities-inside .map-block {
  display: inline-block
}

.resume .func .map-nav {
  display: flex;
  justify-content: space-around;
  padding-right: 20px;
  padding-bottom: 15px;
  align-items: center;
}


.resume .func .skills-prog {
  clear: both;
  background: var(--second-light-color);
  border-radius: 10px;
  border: 2px solid var(--second-color);
  padding: 15px;
  margin-bottom: 15px;
}

.resume .func .skills-prog ul {
  margin-left: 15px;
}

.resume .func .skills-prog ul li {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  transition-duration: 0.3s;
}


.resume .func .skills-prog ul li span {
  display: block;
  width: 120px;
}

.resume .func .skills-prog ul li .skills-bar {
  background: var(--main-light-color);
  height: 2px;
  width: calc(100% - 120px);
  position: relative;
  border-radius: 2px;
}

.resume .func .skills-prog ul li .skills-bar .bar {
  position: absolute;
  top: -1px;
  height: 4px;
  background: var(--second-color);
  border-radius: 5px;
}

.resume .func .interests {
  background: var(--second-light-color);
  border-radius: 10px;
  border: 2px solid var(--second-color);
  margin-bottom: 15px;
  padding: 15px;
}

.resume .func .interests-items {
  box-sizing: border-box;
  padding: 0 0 15px;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.resume .func .interests-items div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.resume .func .interests-items div i {
  font-size: 45px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  color: var(--second-color);
  transition-duration: 0.3s;
}

.resume .func .interests-items div span {
  display: block;
}


/*CONTACT PAGE*/
.form {
  width: 960px;
  margin: 20px auto;
  background-color: var(--second-light-color);
  border: 2px solid var(--second-color);
  border-radius: 10px;
  /* padding-left: 40px; */
  padding-top: 20px;
  padding-bottom: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.form fieldset {
  margin-bottom: 2rem;
  /* margin: 20px auto; */
  border: none;
}

.form legend {
  font-weight: bold;
  font-size: 1.3rem;
  margin-top: 1.9rem;
  margin-bottom: 1rem;
  color: var(--second-color);
  margin-left: 1rem;
}

.form label {
  display: block;
  padding-bottom: 0.3rem;
  margin-left: 1rem;
  color: var(--main-dark-color);

}

.form fieldset p {
  padding-bottom: 0;
  margin-left: 1rem;
  color: var(--main-dark-color);

}

.form textarea {
  height: 10rem;
  padding: 1rem;
  margin-left: 1rem;
}


.form i {
  color: var(--main-color);
  width: 14rem;
  height: 14rem;
  font-size: 12rem;
  text-align: center;
  vertical-align: middle;
  line-height: 14rem;
  transition-duration: 0.3s;
  margin-right: 4rem;
}

button {
  font-size: 1.3rem;
  margin: 20px auto;
  background-color: var(--main-color);
  color: var(--second-light-color);
  border: none;
  padding: 0.5rem 1rem;
  height: min-content;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;

}

.submit {
  margin-top: 2rem;
  margin-left: 0;
}

button:hover {
  background-color: var(--main-dark-color);
}

button:disabled {
  background-color: var(--main-light-color);
}

input:not([type="radio"]),
textarea {
  display: block;
  margin-bottom: 2rem;
  margin-left: 1rem;
  width: 25rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  border: none;
}

input:not([type="radio"]):focus,
textarea:focus {
  outline: none;
  border: 2px solid var(--second-color);
}

.container {
  position: relative;
  width: fit-content;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container .star-widget input {
  display: none;
}

.star-widget label {
  font-size: 40px;
  color: var(--main-color);
  padding: 10px;
  float: right;
  transition: all 0.2s ease;
}

.star-widget input:not(:checked)~label:hover,
.star-widget input:not(:checked)~label:hover~label {
  color: #fd4;
}

.star-widget input:checked~label {
  color: #fd4;
}

.star-widget input#rate-5:checked~label {
  color: #fe7;
  text-shadow: 0 0 20px #952;
}